$PrimaryColor: #A1CF5F;
$SecondColor: #A1CF5F;
$PrimaryText: #1C2410;
$SecondText: #7F7F73;

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

body {
  overflow-x: hidden;
  direction: ltr;
}
.btn {
  padding: .75rem;
  font-size: .8rem;
}
ul {
  padding: 0;
}
.swal2-title {
  font-family: "semibold";
}

@import "./navBar.scss";
@import "./footer.scss";



@import "./_responsive.scss";
