/* ======= Mobile ======= */
@media only screen and (max-width: 600px) {
  .header {
    height: 50vh;
    .text_header {
      h1,
      p {
        width: 90%;
      }
    }
  }
  .statistics {
    .wonderful_section {
      padding: 2rem 5rem;
      .statistics_card {
        width: 80%;
        margin-bottom: 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .miswak_academy {
      padding: 2rem 5rem;
      text-align: center;
      img {
        width: 100%;
        margin: 0 auto;
      }
      .join_btn {
        margin: 1rem auto 0;
        width: 50%;
        display: block;
      }
    }
  }
  .form_sign .collection .content label.box {
    width: 52%;
  }
  .form_sign .collection .content {
    justify-content: center;
  }
  .form_sign .input-group .form-control {
    padding-inline-start: 12%;
  }
  .form_sign p.term {
    font-size: 0.8rem;
  }
  .doctors {
    .text {
      width: 80%;
    }
    .card_doctor {
      flex-direction: column;
      img {
        width: 100%;
        height: 200px;
        margin-inline-end: 0;
        border-radius: 17px 17px 0 0;
      }
      .description_doctor {
        padding: 1rem 0;
        width: 90%;
        margin: 0 auto;
        .title {
          margin-top: 0;
        }
      }
    }
  }
  .booking_information {
    .container {
      .form-group {
        margin-bottom: 0.5rem;
      }
    }
  }
  .single_blog {
    .sidebar_blog {
      .box {
        width: 100%;
        margin-bottom: 1rem;
        &:nth-child(even) {
          margin-inline-end: 0;
        }
      }
    }
    .content_blog {
      img {
        height: 300px;
      }
    }
  }
  .aboutus_card {
    margin-top: 3rem;
  }
  .counter_aboutus {
    .boxes {
      .box {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  .best_dector_aboutus,
  .great_section {
    .head {
      .button {
        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
        justify-content: start;
        .first {
          font-size: 0.7rem;
        }
      }
      .main_content_start {
        p {
          width: 90%;
        }
      }
    }
    .card {
      img {
        height: 250px;
        margin-bottom: 1rem;
        display: block;
      }
    }
  }
  .doctor_header {
    padding-top: 2rem;
  }
  .choose_doctor {
    .card_booking_doctor {
      img {
        width: 100%;
        border-radius: 12px 12px 0 0;
      }
      .details_doctor {
        width: 100%;
      }
      .booking_time {
        padding: 0 3rem 3rem;
      }
    }
  }
  .personal_information {
    ul {
      flex-direction: column;
      li {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
  }
  .booking_summery {
    margin-top: 1.5rem;
  }
  footer .footer-bottom .socialicon {
    justify-content: center;
  }
  .header_about_us .main_img {
    height: 260px;
  }
  .header_about_us .coll_img img {
    height: 126px;
  }
  .best_dector_aboutus .head .main_content_start {
    width: 100%;
  }
  .best_dector_aboutus .head,
  .great_section .head {
    flex-direction: column;
  }
  .team_about .head .main_content_start {
    width: 100%;
  }
  .doctor {
    .doctor_details {
      padding: 0;
      .doctor_card {
        flex-direction: column;
        img {
          width: 100%;
          margin-inline-end: 0;
          margin-bottom: 1rem;
          border-radius: 12px 12px 0 0;
        }
        .doctor_description {
          padding: 0 1.5rem;
        }
      }
      .tab-content {
        padding: 0 1.5rem;
        .services_doctor {
          .card_doctor_services {
            width: 100%;
            &:last-child {
              margin-bottom: 1rem;
            }
          }
        }
        .all_reviews {
          .card_all_reviews {
            .rate_text {
              width: 90%;
            }
          }
        }
      }
    }
  }
  .other_doctor,
  .other_doctor_service {
    .card_doctor {
      width: 90%;
      margin: 0 5%;
      margin-inline-end: 5%;
      margin-bottom: 1.5rem;
      img {
        height: 250px;
      }
    }
  }
  .choose_branches {
    .card_branches {
      width: 100%;
      margin: 0 0 1rem;
    }
  }
  .branch_details {
    .explore_services {
      .text {
        width: 60%;
      }
      .card_explore_services {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 1.5rem;
      }
    }
    .statistics_branch {
      .cards {
        flex-direction: column;
        .statistics_branch_card {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .header_about_us {
    h4 {
      font-size: 1.5rem;
    }
    .service_header .info ul li {
      padding-inline-start: 8%;
    }
    .service_header img {
      height: 250px;
    }
  .service_header .info ul li{
    padding-inline-start: 8%;
  }
  .service_header img {
    height: 250px;
  }
}
}
/* ======= Mobile ======= */
