/* ======= Tablet ======= */
@media only screen and (max-width: 991.98px) {
  .auth {
    .auth_card {
      width: 70%;
      .form-group {
        svg {
          left: 1rem;
        }
      }
    }
  }
  .services {
    .text_section {
      width: 70%;
    }
    .col-lg-4 {
      margin-bottom: 2rem;
    }
  }
  .statistics {
    .p-0 {
      padding: 0 0.75rem !important;
    }
  }
  .doctor_header {
    img {
      width: 100%;
    }
    h2 {
      width: 90%;
    }
    p {
      width: 80%;
    }
  }
  .doctors {
    .card_doctor {
      width: 100%;
    }
    .title {
      margin-top: 1rem;
    }
    .text {
      width: 50%;
    }
  }
  .single_blog {
    .sidebar_blog {
      .box {
        display: inline-block;
        width: 48.5%;
        margin-bottom: 0;
        &:nth-child(even) {
          margin-inline-end: 1.5%;
        }
      }
    }
  }
  .counter_aboutus {
    margin-top: 3rem;
    .boxes {
      .box {
        width: 50%;
      }
    }
  }
  .best_dector_aboutus {
    .head {
      .main_content_start {
        p {
          width: 70%;
        }
      }
    }
  }
  .choose_doctor {
    .card_booking_doctor {
      flex-wrap: wrap;
      img {
        width: 50%;
        height: 300px;
      }
      .details_doctor {
        padding: 1.5rem;
        width: 49%;
        border-inline-end: 0;
      }
      .booking_time {
        width: 100%;
        padding: 1rem 3rem 3rem;
      }
    }
  }
  .payment_methods {
    margin-bottom: 1.5rem;
  }
  .booking_info {
    .booking_details {
      margin-bottom: 2rem;
    }
  }
  .doctor {
    .doctor_details {
      .tab-content {
        .services_doctor {
          .card_doctor_services {
            width: 90%;
          }
        }
      }
    }
    .pick_title {
      margin-top: 1.5rem;
    }
  }
  .other_doctor,
  .other_doctor_service {
    .card_doctor {
      width: 47%;
      margin-bottom: 1.5rem;
    }
  }
  .choose_branches {
    .card_branches {
      width: 48.5%;
    }
  }
  .branch_details {
    .explore_services {
      .text {
        width: 40%;
      }
      .card_explore_services {
        width: 80%;
        margin: 0 10%;
        margin-bottom: 1.5rem;
      }
    }
    .statistics_branch {
      .cards {
        width: 100%;
      }
    }
    .service_detials .info ul li {
      width: 95%;
      padding-inline-start: 10%;
    }
    .service_detials .info .img_collect img {
      height: 150px;
    }
    .service_detials .info ul li {
      width: 95%;
      padding-inline-start: 10%;
    }
    .service_detials .info .img_collect img {
      height: 150px;
    }
  }
  .contact_sec {
    .container {
      padding: 2rem;
    }
  }
  .header_blog {
    .main_content_start {
      p {
        width: 50%;
      }
    }
  }

  .contact_details {
    flex-direction: column;
    .contact_details_card {
      width: 100%;
    }
    iframe {
      width: 100%;
    }
  }
  .profile {
    .sidebar_profile {
      margin-bottom: 1.5rem;
    }
    .profile_section {
      .tab-content {
        .tab-pane {
          .card_appointments {
            flex-direction: column;
            padding-bottom: 1.5rem;
            img {
              width: 100%;
              height: 250px;
              margin-inline-end: 0;
              margin-bottom: 1rem;
              border-radius: 12px 12px 0 0;
            }
            .details_card_appointments {
              width: 100%;
              padding: 0 1rem;
            }
            .book {
              margin: 1rem auto 0;
            }
          }
        }
      }
    }
  }
}
/* ======= Tablet ======= */
